.foodList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

div {
    border:  1px solid red;
    /* margin: 2px; */
    justify-content: space-between;
    align-content: stretch;
    padding: 0px 5px;
}

h3, h4 {
    display: flex;
    margin: 1px;
    flex-direction: row;
    align-content: flex-end;
    /* padding: 0px 5px; */
}